<div class="row">
	<div class="col-xs-3">
		<h2>User info</h2>
		<%= render 'users/profile', user: @user %>

	<% unless @user.id == current_user.id %>
		<%= render 'rooms/enter', room: @room, user: @user %>
	<% end %>

		<h2>New book</h2>
		<%= render 'books/form' %>
	</div>

	<div class="col-xs-9" id="book_list_user">
		<h2>Books</h2>
			<%= render 'books/list', books: @books %>
	</div>
</div>

<% if @user.id == current_user.id %>
	<%= render 'users/map', user: @user %>
<% end %>