<div class="row">
	<div class="col-xs-3">
		<h2>User info</h2>
		<%= render 'users/profile' %>

		<h2>New book</h2>
		<%= render 'books/form' %>
	</div>

	<div class="col-xs-9" id="book_detail">
		<h2>Book detail</h2>
		<table class="table table-hover table-inverse">
			<tbody>
				<tr id="book_<%= @book.id %>">
					<%= render 'books/item', book: @book %>
				</tr>
			</tbody>
		</table>

		<h3>コメント</h3>
		<table class="table" id="comment_list">
			<%= render 'book_comments/comments', book_comments: @book_comments %>
		</table>

		<div class="row">
			<%= form_with model: [@book, @book_comment], remote: true do |f| %>
				<%= f.text_area :content, class: "col-xs-10",id: "book_comment_content" %>
				<%= f.submit '送信' %>
			<% end %>
		</div>
	</div>
</div>

